.slide-container {
  overflow-x: hidden;
  max-width: 640px;
  // display: inline-block;

  // .slide-left-icon {
  //   position: absolute;
  //   /* width: 45%; */
  //   width: 40px;
  //   // height: auto;
  //   background: inherit;
  //   border: none;
  //   margin-left: .5em;
  //   // padding-bottom: 1em;
  //   top: 45%;
  //   left: 0;
  // }
  
  // .slide-left-icon:before, 
  // .slide-left-icon:after {
  //   background-color: #ff6a8b;
  //   border-radius: 0;
  //   content: '';
  //   display: block;
  //   height: .3em;
  //   margin: 1.25em 0;
  //   // transition: all .2s ease-in-out;
  // }

  // .slide-left-icon:after {
  //   transform: translateY(.45em) rotate(-135deg);
  // }

  // .slide-left-icon:before {
  //   transform: translateY(.45em) rotate(135deg);
  // }
}

.slide {
	--n: 1;
	display: flex;
	align-items: center;
  overflow-y: hidden;
  position: relative;
  width: 100%; // fallback
	width: calc(var(--n)*100%);
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  
	
	a {
    width: calc(640/var(--n));
    // user-select: none;
    // pointer-events: none;
    max-width: 100%;
  }

  a img {
    max-width: 100%;
  }

}

.slide:before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}



.smooth { transition: transform calc(var(--f, 1)*.5s) cubic-bezier(1, 1.59, .61, .74) }