<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
    <head>
        {{- partial "head.html" . -}} 
        {{ block "addhead" . }}{{ end }}
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                {{- partial "header.html" . -}} 
            </header>
            {{- block "main" . }}{{- end }} 
            <footer class="footer">
                {{- partial "footer.html" . -}}
            </footer>
        </div>
    </body>
</html>