{{ with .Site.Params.aboutpg }}
  <a id="aboutlink" href="{{ . }}"><span>About Us</span></a>
{{ end }}
<section class="smallmatters"><p>&#169; {{ .Site.Params.ccright }} {{ .Date.Format "2006" }}</p></section>


<script src="/js/slide.js"></script>
<script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
</script>