        
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial "google/analytics.html" . }}
        {{ partial "favicon.html" . }}
        {{ partial "meta.html" . }}
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
        <link href="/styles/moderno.main.css" rel="stylesheet">