                
                <h1><a id="rootlink" href="/" title="Site Homepage">{{ .Site.Title }}</a></h1>
                <nav class="largenav">
                    <ul>
                        {{- partial "categories.html" . }}
                    </ul>
                </nav>
                <input id="collapsible-menu" class="toggle-menu" type="checkbox">
                <label for="collapsible-menu" class="lbl-toggle-menu">
                    <nav class="nav-icon">
                        <div></div>
                    </nav>
                </label>
                <nav class="menu-nav">
                    <ul class="categories">
                        {{- partial "categories.html" . }}
                    </ul>
                    <ul class="otherlinks">
                    {{ range $index, $element := first 10 (where .Site.RegularPages "Type" "!=" "articles") }}
                        <li><a href="{{ .Page.Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                    </ul>
                </nav>