<a href="{{ .Permalink }}" class="headline">
    {{ with .Params.headlineimage }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Fill "800x175" }}
        <img src="{{ $resized.Permalink }}" class="headline__img"/>
    {{ end }}
    <div class="headline__text">
        <div class="maintext">{{ .Title }}</div>
        <div class="subtext">{{ .Description }}</div>
        <div class="meta">{{ .Lastmod.Format "2006-01-02 03:04PM" }}</div>
    </div>
</a>   