<div class="img-list-container">
    <div class="img-list-grid">
        {{ range $index, $element := .Params.galleryImages }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            {{ $resized := $imageResource.Resize "280x" }}
            <a href="{{ $imageResource.Permalink }}" class="img-list-celllink">
                <img src="{{ $resized.Permalink }}" class="img-list-image"/>
            </a>   
        {{ end }}
    </div>
</div>