body {
    background-color: #393f43;
}

.header {
    position: inherit;
}

.article {
    display: grid;
    grid-template-areas: 
        "ah"
        "ab"
        "aa";
    font-family: 'Source Serif Pro', serif;
    background: #f1f3f4;
}

.article__img {
    max-width: 100%;
    height: auto;
}

.article__header {
    grid-area: ah;
}

.article__body {
    grid-area: ab;
    padding: .3em;
}

.article__body {
    color: #083045;
}

.article__body h1 {
    font-size: 20pt;
    font-style: bold;
    margin: 1vw 0;
}

.article__body h2 {
    font-style: bold;
    font-size: 14pt;
}

.article__body h3 {
    font-size: 10pt;
    font-style: italic;
}

.article__body p {
    margin-bottom: 18px;
    margin-top: 4px;
    font-family: 'Source Serif Pro', serif;
    font-size: 12pt;
    line-height: calc(1.5em + 0.3333vw);
    display: flex; 
    justify-content: left;
}

.article__aside {
    grid-area: aa;
}

@media (min-width: 700px) {
    .article {
        grid-template-areas: 
            "ah ah"
            "ab aa";
        grid-template-columns: 1fr 275px;
        padding: 3vw 3vw;
    }

    .article__header > img {
        max-width: 100%;
        width: auto;
    }

    .article__body {
        padding: 0;
    }
}

@media (min-width: 1000px) {

}