* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    background-color: #393f43;
}

body {
    margin: 0;
    padding: 0;
    background-color: #393f43;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "hd hd"
        "bl bl"
        "ct ct"
        "ft ft";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 1440px;
}

.header {
    grid-area: hd;
    background: #5389d1;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 60px;
    grid-template-areas: 
        "rootlink menu";
    align-items:center;
}

input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle-menu {
    grid-area: menu;
    cursor: pointer;
    display: block;
  }

  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .menu-nav {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .2s ease-in-out .2;
    transition: padding-bottom .2s ease-in-out .2;
  }
  .toggle-menu:checked + .lbl-toggle-menu + .menu-nav {
    max-height: 350px;
    padding-bottom: 30px;
  }
  .toggle-menu:checked + .lbl-toggle-menu + .menu-nav + .blinds {
    /* margin-bottom: -13.5%; */
}

  .toggle-menu:checked + .lbl-toggle-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .nav-icon {
    width: 45%;
    height: auto;
    background: inherit;
    border: none;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #2d383a;
    border-radius: 6px;
    content: '';
    display: block;
    height: .2em;
    margin: .23em 0;
    transition: all .2s ease-in-out;
    
  }

  .toggle-menu:checked + .lbl-toggle-menu > .nav-icon:before{
    transform: translateY(.45em) rotate(135deg);
  }

  .toggle-menu:checked + .lbl-toggle-menu > .nav-icon:after{
    transform: translateY(-.45em) rotate(-135deg);
  }

  .toggle-menu:checked + .lbl-toggle-menu > .nav-icon div{
    transform: translateX(-2em) scale(0);
  }

    .header .menu-nav {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0 1.13em;
    }

    .header .menu-nav ul {
        list-style: none;
        text-align: right;
        display: inherit;
        font-family: 'Roboto', sans-serif;
    }

    .header .menu-nav li {
        display: inherit;
        margin-top: .7rem;
    }

    .header .menu-nav li a {
        color: #2d383a;
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        display: inline-block;
        vertical-align: middle;
    }

    .header .menu-nav li a:visited {
        color: #2d383a;
    }

    .header .menu-nav li a:hover {
        color: #ff6a8b;
    }

.blinds {
    grid-area: bl;
    width: 100%;
    margin-top: -15px;
}

.blinds hr {
    width: 100%;
    background: #393f43;
    border: 0;
}

.blinds hr:nth-child(1) {
    height: 1px;
    margin: 3px 0 0 0;
    
}
.blinds hr:nth-child(2) {
    height: 2px;
    margin: 2px 0 0 0;
}
.blinds hr:nth-child(3) {
    height: 3px;
    margin: 2px 0 0 0;
}

.content {
    grid-area: ct;
    margin-top: 1vw;
}

.siderail {
    grid-area: sr;
}

#rootlink {
    color: #f1f3f4;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
}

#rootlink:visited {
    color: #f1f3f4;
    text-decoration: none;
    font-weight: bold;
}

#rootlink:hover {
    color: #f1f3f4;
    text-decoration: none;
    font-weight: bold;
}

#rootlink:f1f3f4 {
    color: #2d383a;
    text-decoration: none;
    font-weight: bold;
}

#aboutlink {
    color: #f1f3f4;
    font-size: 12pt;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 20px 0;
    display: block;
}

#aboutlink:visited {
    color: #f1f3f4;
    text-decoration: none;
    font-weight: bold;
}

#aboutlink:hover {
    color: #8690ff;
    text-decoration: underline;
    font-weight: bold;
}

#aboutlink:active {
    color: #8690ff;
    text-decoration: underline;
    font-weight: bold;
}

.footer {
    grid-area: ft;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: bold;
}

.footer .smallmatters {
    color: #b0b2b3;
    font-size: 10pt;
}

.header .largenav {
    display: none;
}

.header h1 {
    grid-area: rootlink;
    font-size: 1.6em;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: .5em;
    text-align: left;
}

.header .lbl-toggle-menu {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.headlines {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    grid-auto-rows: 175px;
    margin: 0;
}


.headline {
    color: white;
    display: block;
    position: relative;
    font-size: .9em;
    margin: 0px;
}

.headline__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .97;
}

.headline:hover .headline__text .maintext {
    color: #ffde8b;
    text-shadow: 0 2px 0 black;
}

.headline:hover .headline__img {
    opacity: 1;
}

.headline::after {
    display: block;
    position: relative;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      );
    margin-top: -124px;
    height: 121px;
    width: 100%;
    content: '';
}

.headline__text {
    position: absolute;
    bottom: 7px;
    left: 7px;
    right: 7px;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
}

.headline__text .maintext {
    font-size: 1.1em;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    margin-bottom: 4px;
}
.headline__text .subtext {
    font-size: 1em;
    line-height: 1.1em;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.headline__text .meta {
    font-size: .7em;
    color: #ffde8b;
    display: flex;
    align-items: flex-start;
}

.content__header {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.content__header h1 {
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    color: #ff6a8b;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1em;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0;
}

.viewmore {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.viewmore a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 6px;
    background-color: #ff6a8b;
    color: white;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: .95em;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #c7546d;
    border-top: 0;
}

.viewmore a:hover {
    color: #2d383a;
    background-color: #ffde8b;
    font-weight: bold;
    border-top: 3px solid #ffb68b;
    border-bottom: 0;
}

.img-list-container {
    margin: 1vw;
  }

.img-list-grid {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1vw;
    
}

.img-list-image {
}

.img-list-celllink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-list-celllink img {
    width: 100%;
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-areas:
            "hd hd"
            "bl bl"
            "ct ct"
            "ft ft";
        grid-template-columns: 1fr 1fr;
    }

    .header h1 {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 15px;
    }
    .headlines {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    .headlines .headline:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .headlines .headline:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .blinds {
        /* margin-top: -30px; */
    }

    .viewmore {
        margin: 15px;
    }

    .viewmore a {
        flex-basis: 300px;
    }

    .siderail {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .img-list-grid {
        grid-template-columns: repeat(3, auto);
    }

    .img-list-container {
        margin: 0 0;
      }
}

@media (min-width: 1000px) {

    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "hd hd hd"
            "bl bl bl"
            "ct ct ct"
            "ft ft ft";
        padding: 0 3vw;
    }

    .header {
        grid-template-columns: minmax(200px, 300px) 1fr 60px;
        grid-template-areas: 
            "rootlink nav menu";
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: 1vw;
    }

    .toggle-menu:checked + .lbl-toggle-menu + .menu-nav + .blinds {
        /* margin-bottom: -95%; */
    }

    .header h1 {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 20px;
    }

    .header .largenav {
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        transition: max-height .25s ease-in-out;
    }

    .header .largenav ul {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: inherit;
        font-family: 'Roboto', sans-serif;
    }

    .header .largenav li {
        display: inherit;
        margin: 0px 20px 0px 0px;
        
    }

    .header .largenav li a {
        color: #2d383a;
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        display: inline-block;
        vertical-align: middle;
    }

    .header .largenav li a:visited {
        color: #2d383a;
    }

    .header .largenav li a:hover {
        color: #ff6a8b;
    }

    .headlines {
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }

    .headlines .headline:last-child {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .headlines .headline:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .header .menu-nav .categories {
        display: none;
    }

    .blinds {
        /* margin-top: -30px; */
    }

    .img-list-grid {
        grid-template-columns: repeat(4, auto);
    }
}