{{ define "main" }}
<main class="content">
    <header class="content__header">
            <h1 class="">{{ .Page.Title }} Articles</h1>
    </header>
    <article class="headlines">
    {{ range $index, $element := .Data.Pages }}
        {{- partial "headline.html" . -}} 
    {{ end }}

    </article>
</main>
{{ end }}