{{ define "main" }}
<main class="content">
    <header class="content__header">
        <h1 class="">{{ .Title }}</h1>
    </header>
    <article class="headlines">
    {{ range $index, $element := where .Site.RegularPages "Type" "articles" }}
        {{- partial "headline.html" . -}} 
    {{ end }}

    </article>
</main>
{{ end }}