{{ define "addhead" }}
    <link href="/styles/moderno.article.css" rel="stylesheet"> 
    {{ $scss := resources.Get "sass/slide.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<main class="content">
    <article class="article">
        <header class="article__header">
            {{ with .Params.featureimage }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            {{ $resized := $imageResource.Resize "640x" }}
            <a href="{{ $imageResource.Permalink }}">
                <img src="{{ $resized.Permalink }}" class="article__img"/>
                <div>
                </div>
            </a>   
            {{ end }}
    
            {{ if .Params.galleryImages }}
                {{- partial "img-list.html" . -}} 
            {{ end }}
        </header>
        <section class="article__body">
            <h1>{{ .Title }}</h1>
            <h2>{{ .Description }}</h2>
            <h3>{{ .Params.author }} | {{ .Date.Format "1/2/2006, 3:04PM" }}</h3>

            {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" }}
            {{ $reAltOut := "<a href=\"$1\"><img src=\"$1\" alt=\"$2\" class=\"article__img\"/><div></div></a>" }}
            {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

            {{ $reAltTitleIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" }}
            {{ $reAltTitleOut := "<a href=\"$1\"><img src=\"$1\" alt=\"$2\" title=\"$3\" class=\"article__img\"/><div></div></a>" }}
            {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

            {{ $finalContent }}

        </section>
        <aside class="article__aside">
        </aside>
    </article>
</main>
{{ end }}